# Ignore
*.iml
.idea
out

admin/
catalog/
image/
system/
config.php
index.php
php.ini


# Allow
!system/library/d_shopunity/extension/d_quick_order.json
!system/config/d_quick_order.php
!admin/controller/extension/module/d_quick_order.php
!admin/model/extension/module/d_quick_order.php
!admin/language/en-gb/extension/module/d_quick_order.php
!admin/view/stylesheet/d_quick_order.css

!admin/view/image/d_quick_order/find-selector.png
!admin/view/image/d_quick_order/bg.svg
!admin/view/image/d_quick_order/logo.svg
!admin/view/image/d_quick_order/welcome.png
!admin/view/image/d_quick_order/background.svg

!admin/view/template/extension/d_quick_order/welcome.twig
!admin/view/template/extension/module/d_quick_order.twig

!admin/view/template/extension/d_quick_order/tab_orders.twig
!admin/view/template/extension/d_quick_order/tab_setting.twig
!admin/view/template/extension/d_quick_order/tab_instruction.twig

!catalog/controller/extension/module/d_quick_order.php
!catalog/model/extension/module/d_quick_order.php
!catalog/language/en-gb/extension/module/d_quick_order.php

!catalog/view/theme/default/javascript/d_quick_order/d_quick_order.js
!catalog/view/theme/default/template/extension/module/d_quick_order.twig
!catalog/view/theme/default/javascript/d_quick_order/extra/jquery.maskedinput.min.js
!catalog/view/theme/default/stylesheet/d_quick_order/d_quick_order.css