#quickorder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

#quickorder button {
    width: 100%;
    min-height: 40px;
}

.quick-order-wrapper-form textarea{
    display: block;
    width: 100%;
    min-height: 80px;
    max-height: 80px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.wrapper-product-amount input{
    width: 100%;
}

.wrapper-submit-btn{
    width: 100%;
    height: 40px;
}

#quickorderModal .quick-order-wrapper-form{
    padding: 0 20px;
}

#quickorderModal .modal-header{
    min-height: 0;
    padding: 15px;
    border: none;
}

#quickorderModal .modal-header .close{
    margin-top: -5px;
    font-size: 25px;
}

#quickorderModal #dqo_title{
    text-align: center;
}

#quickorderModal #d_qo_modal_description_text{

}

#quickorderModal .wrapper-modal-qty{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    width: 100%;
    line-height: 1;
}

#quickorderModal .wrapper-modal-qty p{
    margin: 0;
    padding: 0;
}

#quickorder_form #badge_selector{
    min-width: 25px;
    border-radius: 15px;
    padding: 7px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quickorderModal #dqo_submit {
    color: white;
    width: 125px;
    display: flex;
    justify-content: flex-end;
    float: right;
    position: relative;
    top: -2px;
    right: 0;
}