<div class="tab-body">
    <div class="instructions">
        <h2 class="instruction-welcome">Welcome to Quick Order Instructions</h2>

        <h4 class="instruction-intro">To successfully use module you need:</h4>

        <ul class="instruction-list">
            <li>Module installation</li>
            <li>Choosing a selector to display a quick order button
                <p class="instruction-descr">In order to select a selector (the element for which we are going to add a quick purchase button) you have to project a page. It can be either "class" or "id"</p>
            </li>
            <li>Button and modal settings</li>
            <li>Select fields to fill order
                <p class="instruction-descr">You can activate or on the contrary hide the filling of additional fields for creating an order in a modal window. Each field has a property to fill or not.</p>
            </li>
        </ul>

        <h3>An example of a selector search:</h3>
        <div class="instruction-wrapper-image">
            <img src="view/image/d_quick_order/find-selector.png"/>
        </div>
    </div>
    <p class="text-center">{{ text_powered_by }}</p>
</div>