<div class="tab-body">
    <div class="instruction" style="max-width:700px"></div>

    <div class="wrapper-footer" style="margin-top: 50px">
        <p class="text-center">{{ text_powered_by }}</p>
    </div>
</div>